<!-- bar_graph.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Importance Bar Graph</title>
    <link rel="stylesheet" type="text/css" href="../static/graph.css">
    <!-- Add jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Add script for automatic form submission -->
    <script>

        $(document).ready(function () {
            // Add change event listener to all sliders
            $('input[type="range"]').on('input', function () {
                // Automatically submit the form when a slider changes
                updateGraph();
            });

            // Function to update the graph using AJAX
            function updateGraph() {
                $.ajax({
                    type: 'POST',
                    url: '/your-url', // Specify the URL to handle the form submission
                    data: $('form').serialize(), // Serialize the form data
                    success: function (response) {
                        // Handle the response (if needed)
                        // For example, you can update the image or other elements on the page
                        console.log('Graph updated successfully');
                        $('#graph-image').attr('src', 'data:image/png;base64,' + response.img_base64);

                    },
                    error: function (error) {
                        console.error('Error updating graph:', error);
                    }
                });
            }
        });
    </script>

<!--
    <script>
        $(document).ready(function() {
            // Add an event listener to the form submission
            $('form').submit(function() {
                // Redirect to /your-url immediately after form submission
                window.location.href = '/your-url';
                return false; // Prevent the form from submitting (if needed)
            });
        });
    </script>
-->

<!--
    <script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8"></script>
-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io();
        socket.on('connect', function() {
            socket.emit('my event', {data: 'I\'m connected!'});
        });

        socket.on('send_word_importances', function (importances) {
            console.log("Received Word Importances")
            socket.emit('session_importances', importances)
            console.log(importances);
        })

        socket.on('update_image', function (img) {
            console.log('Update Image');
            console.log(JSON.parse(img).img_url);
            $('#black-box-image').attr('src', JSON.parse(img).img_url);
        });

        socket.on('graph-image', function (graph) {
            console.log('data:image/png;base64,' + JSON.parse(graph).img_base64);
            $('#graph-image').attr('src', 'data:image/png;base64,' + JSON.parse(graph).img_base64);
        });

        socket.on('send_word_imp', function (word_importance) {
            $('#word_imports').css("width", word_importance * 150);
            console.log("word importance: " + word_importance)
        })

        socket.on('send_word', function (word_name) {
            console.log("word name: " + word_name);
            $('#word_imports').text(word_name);
        })
    </script>
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
</head>

<body style="background-color:lightblue">
    <div>
        <h1 style="margin-left:420px; font-size:26px; font-family:Verdana, Geneva, Tahoma, sans-serif">Stable Diffusion
            XAI Visualizer</h1>
    </div>

    <form action="your-url" method="post">
        <label class="prompt" for="prompt"
            style="margin-left:420px; font-family:Verdana, Geneva, Tahoma, sans-serif">Prompt</label>
        <input type="text" name="prompt" value="" style="width:400px;" required>
        <br>
        <label class="num_features" for="number_features"
            style="margin-left:420px; font-family:Verdana, Geneva, Tahoma, sans-serif">Number of Top Features</label>
        <input type="number" name="number_features" value="" style="width:50px; margin-bottom:20px;" min="2" required>
        <input type="submit" name="submit" value="Generate"
            style="height:20px; width:100px; background-color:lightblue; margin-left:10px;">
        <br>
        <!-- <div class="progress" id="PreLoaderBar"> -->
            <div class="indeterminate"></div>
        </div>
    </form>

    <form action="your-url" method="post">
        <!-- <input type="submit" name="submit" value="Render"
            style="height:20px; width:100px; background-color:lightblue; margin-left:10px;"> -->
    </form>

    <div class="flex-container" style="background-color:white;">
        <div class="prompt-box" style="margin-top: 20px;">
            <p
                style="font-size:14px; font-family:Verdana, Geneva, Tahoma, sans-serif; margin-left:auto; margin-right:auto;">
                {{ prompt }}</p>
            <br>
            <img id="black-box-image" src="{{ img_url }}" alt="Generated Image">
        </div>
    </div>

    <form action="your-url" method="post">
        <div style="background-color: white;">
            <br>
            <label class="negPrompt" for="negPrompt"
                style="margin-left:420px; font-family:Verdana, Geneva, Tahoma, sans-serif; background-color: white;">Negative Prompt</label>
            <input type="text" name="negPrompt" value="" style="width:400px;">
            <br>
        </div>
    </form>

    <div id="loading-spinner" style="display: none;">
        <!-- Add your loading spinner HTML or other loading indicators here -->
        Loading...
    </div>

    <div class='flex-container' style="background-color:white">
        
        <div class="bar-graph" style="margin-left: 200px;">
            <img id="graph-image" src="data:image/png;base64,{{ img_base64 }}" alt="Word Importance Bar Graph">
        </div>
       

        <div class="form-container">
            <form method="post" action = "your-url">
                <div class="button-container">
                    <div>
                        <div class="radio-button-discription">
                            <a class="generated-image-description">Importance Editor</a>
                        </div>
                        <div class="graph-discription">
                            <a class="generated-image-description">Current Importance Comparison</a>
                        </div>
                    </div>
                {% for word, feature_importance in word_importances.items() %}
                
                    
                    <label class="descriptor" for="feature_importance_{{ word }}">{{ word}}</label>
                    <div class="button-row">
                        <input type="radio" name="button_{{ word }}" value="--{{ word }}" id="--{{ word }}"><label for="--{{ word }}">--</label>
                        <input type="radio" name="button_{{ word }}" value="-{{ word }}" id="-{{ word }}"><label for="-{{ word }}">-</label>
                        <input type="radio" name="button_{{ word }}" value="={{ word }}" id="={{ word }}" checked="checked"><label for="={{ word }}">=</label>
                        <input type="radio" name="button_{{ word }}" value="+{{ word }}" id="+{{ word }}"><label for="+{{ word }}">+</label>
                        <input type="radio" name="button_{{ word }}" value="++{{ word }}" id="++{{ word }}"><label for="++{{ word }}">++</label>
                        <div class="bar-graph-border">
                            
                            <div id= "word_imports" class="bar-graph-fill"></div>
                        </div>
                    </div>
                

                {% endfor %}

                </div>

                <label class="negPrompt" for="negPrompt"
                style="margin-left:420px; font-family:Verdana, Geneva, Tahoma, sans-serif; background-color: white;">Negative Prompt</label>
                <input type="text" name="negPrompt" value="" style="width:400px;">

                <input type="submit" name="submit" value="Adjust Weights" style="height:25px; width:130px; background-color:lightblue; margin-top:10px;">
                <!-- <input type="submit" name="submit" value="Render"
                    style="height:20px; width:100px; background-color:lightblue; margin-left:10px;"> -->
            </form>
            <!--
            <form method="post" action="your-url">
                {, feature_importance in word_importances.items() %}
                <div class="slider-container">
                    <label class="descriptor" for="feature_importance_{{ word }}">{{ word }}</label>
                    <input type="range" id="feature_importance_{{ word }}" name="feature_importance_{{ word }}" min="0.0"
                        max="1.0" step="0.125" value="{{ feature_importance }}" required list="tickmarks_{{ word }}">
                    <datalist id="tickmarks_{{ word }}">
                        <option>0.0</option>
                        <option>0.25</option>
                        <option>0.5</option>
                        <option>0.75</option>
                        <option>1.0</option>
                    </datalist>
                    <div class="tick-labels">
                        <label>Least</label>
                        <label>Less</label>
                        <label>Moderate</label>
                        <label>More</label>
                        <label>Most</label>
                    </div>
                </div>
                

                <label class="negPrompt" for="negPrompt"
                style="margin-left:420px; font-family:Verdana, Geneva, Tahoma, sans-serif; background-color: white;">Negative Prompt</label>
                <input type="text" name="negPrompt" value="" style="width:400px;">

                <input type="submit" name="submit" value="Adjust Weights" style="height:25px; width:130px; background-color:lightblue; margin-top:10px;">
            </form> 
            -->
            
        </div>
    </div>

<!--
    <script>
        $(document).ready(function () {
            /*var socket = io('/your-url');*/
            var socket = io('/your-url');
            console.log("test")

            socket.on('connect', function () {
                console.log('Connected to the server');
            });

            socket.on('update_image', function () {
                console.log('Connected to the server');
            });

            socket.on('update_image', function (data) {
                console.log('Received update_image event:');

                // Display the black box image
                $('#black-box-image').attr('src', data.img_url);

                // Hide the loading spinner
                $('#loading-spinner').hide();
            });

            socket.on('graph-image', function (data) {
                // Handle the word importances update
                console.log('Word importances:', data.word_importances);
                // Add code to update the UI with word importances as needed
            });
        });
    </script>
-->

</body>

</html>